In [2]:
 pip install findspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

[notice] A new release of pip is available: 23.0 -> 23.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 3.9 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 kB 8.2 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=1b89cd6f8a44b9ac4f6f8c3c46117003bf02d1ab2877d7be016dc9fee09cb970
  Stored in directory: /home/codespace/.cache/pip/wheels/89/d6/52/1178e354ba2207673484f0ccd7b2ded0ab6671ae5c1fc5b49a
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

[notice] A new release of pip is available: 23.0 -> 23.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [4]:
import findspark
findspark.init()

import pandas as pd
import pyspark

In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [6]:
#Creamos la sesion de spark
spark = SparkSession.builder.getOrCreate()

23/02/20 11:43:00 WARN Utils: Your hostname, codespaces-571ad1 resolves to a loopback address: 127.0.0.1; using 172.16.5.4 instead (on interface eth0)
23/02/20 11:43:00 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/20 11:43:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [8]:
equip = pd.read_csv('equipo.csv', sep=',')

In [28]:
df = spark.createDataFrame(equip, ['equipo', 'escudo', 'pais', 'puntuacion'])

In [29]:
df.show()

+--------------+------------------+----------+----------+
|        equipo|            escudo|      pais|puntuacion|
+--------------+------------------+----------+----------+
|      Atalanta|      atalanta.png|    Italia|         6|
|      Atlético|      atletico.png|    España|        11|
|     Barcelona|     barcelona.png|    España|        17|
|        Bayern|        bayern.png|  Alemania|        16|
|       Benfica|       benfica.png|  Portugal|        15|
|      Besiktas|      besiktas.png|   Turquía|         2|
|       Chelsea|       chelsea.png|Inglaterra|         1|
|   Club Brugge|   club_brugge.png|   Bélgica|        26|
|      Dortmund|      dortmund.png|  Alemania|        27|
|   Dynamo Kyiv|   dynamo_kyiv.png|   Ucrania|        28|
|Internazionale|internazionale.png|    Italia|        29|
|      Juventus|      juventus.png|    Italia|         9|
|       Leipzig|       leipzig.png|  Alemania|         8|
|     Liverpool|     liverpool.png|Inglaterra|        24|
|          LOSC|          losc.png|   Francia|        23|
|         Malmö|         malmo.png|    Suecia|        22|
|     Man. City|      man_city.png|Inglaterra|        21|
|   Man. United|    man_united.png|Inglaterra|        20|
|         Milan|         milan.png|    Italia|        19|
|         Paris|         paris.png|   Francia|        14|
+--------------+------------------+----------+----------+
only showing top 20 rows

In [11]:
df.count()

31

In [12]:
df.columns

['equipo', 'escudo', 'pais', 'puntuacion']

In [13]:
df.dtypes

[('equipo', 'string'),
 ('escudo', 'string'),
 ('pais', 'string'),
 ('puntuacion', 'bigint')]

In [14]:
df.schema

StructType([StructField('equipo', StringType(), True), StructField('escudo', StringType(), True), StructField('pais', StringType(), True), StructField('puntuacion', LongType(), True)])

In [15]:
df.printSchema()

root
 |-- equipo: string (nullable = true)
 |-- escudo: string (nullable = true)
 |-- pais: string (nullable = true)
 |-- puntuacion: long (nullable = true)

In [16]:
df.select("equipo", "escudo").show()

+--------------+------------------+
|        equipo|            escudo|
+--------------+------------------+
|      Atalanta|      atalanta.png|
|      Atlético|      atletico.png|
|     Barcelona|     barcelona.png|
|        Bayern|        bayern.png|
|       Benfica|       benfica.png|
|      Besiktas|      besiktas.png|
|       Chelsea|       chelsea.png|
|   Club Brugge|   club_brugge.png|
|      Dortmund|      dortmund.png|
|   Dynamo Kyiv|   dynamo_kyiv.png|
|Internazionale|internazionale.png|
|      Juventus|      juventus.png|
|       Leipzig|       leipzig.png|
|     Liverpool|     liverpool.png|
|          LOSC|          losc.png|
|         Malmö|         malmo.png|
|     Man. City|      man_city.png|
|   Man. United|    man_united.png|
|         Milan|         milan.png|
|         Paris|         paris.png|
+--------------+------------------+
only showing top 20 rows

In [17]:
newdf = df.drop("equipo")
newdf.show(2)

+------------+------+----------+
|      escudo|  pais|puntuacion|
+------------+------+----------+
|atalanta.png|Italia|         6|
|atletico.png|España|        11|
+------------+------+----------+
only showing top 2 rows

In [18]:
df.sort("puntuacion").show(5)

+----------+--------------+----------+----------+
|    equipo|        escudo|      pais|puntuacion|
+----------+--------------+----------+----------+
|   Chelsea|   chelsea.png|Inglaterra|         1|
|  Besiktas|  besiktas.png|   Turquía|         2|
| Wolfsburg| wolfsburg.png|  Alemania|         4|
|  Atalanta|  atalanta.png|    Italia|         6|
|Young Boys|young_boys.png|     Suiza|         7|
+----------+--------------+----------+----------+
only showing top 5 rows

In [19]:
df.sort(desc("puntuacion")).show(5)

+--------------+------------------+--------+----------+
|        equipo|            escudo|    pais|puntuacion|
+--------------+------------------+--------+----------+
|    Villarreal|    villarreal.png|  España|        30|
|Internazionale|internazionale.png|  Italia|        29|
|   Dynamo Kyiv|   dynamo_kyiv.png| Ucrania|        28|
|      Dortmund|      dortmund.png|Alemania|        27|
|   Club Brugge|   club_brugge.png| Bélgica|        26|
+--------------+------------------+--------+----------+
only showing top 5 rows

In [22]:
par = pd.read_csv('partidos.csv', sep=',')

In [30]:
deptdf = spark.createDataFrame(par, ['fecha', 'id_local', 'id_visitante', 'pro_ganar','pro_empatar', 'pro_perder'])

/home/codespace/.python/current/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/home/codespace/.python/current/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

In [31]:
deptdf.show()

+----------------+--------+------------+---------+-----------+----------+
|           fecha|id_local|id_visitante|pro_ganar|pro_empatar|pro_perder|
+----------------+--------+------------+---------+-----------+----------+
|14/09/2021 16:45|      31|          19|       33|         34|        33|
|14/09/2021 16:45|      25|          24|       33|         34|        33|
|14/09/2021 19:00|      11|           6|       33|         34|        33|
|14/09/2021 19:00|       4|           5|       33|         34|        33|
|14/09/2021 19:00|      16|          30|       33|         34|        33|
|14/09/2021 19:00|      17|          13|       33|         34|        33|
|14/09/2021 19:00|       8|          32|       33|         34|        33|
|15/09/2021 16:45|       7|          10|       33|         34|        33|
|15/09/2021 16:45|      27|          26|       33|         34|        33|
|15/09/2021 19:00|       9|          21|       33|         34|        33|
|15/09/2021 19:00|      18|          14|       33|         34|        33|
|15/09/2021 19:00|       3|          22|       33|         34|        33|
|15/09/2021 19:00|      15|          20|       33|         34|        33|
|15/09/2021 19:00|      28|           1|       33|         34|        33|
|15/09/2021 19:00|      12|          23|       33|         34|        33|
|28/09/2021 16:45|       1|           7|       33|         34|        33|
|28/09/2021 16:45|      26|          12|       33|         34|        33|
|28/09/2021 19:00|      21|          18|       33|         34|        33|
|28/09/2021 19:00|      14|           9|       33|         34|        33|
|28/09/2021 19:00|      22|          15|       33|         34|        33|
+----------------+--------+------------+---------+-----------+----------+
only showing top 20 rows

In [32]:
df.join(deptdf, df["puntuacion"] == deptdf["id_local"]).show()

+----------+--------------+----------+----------+----------------+--------+------------+---------+-----------+----------+
|    equipo|        escudo|      pais|puntuacion|           fecha|id_local|id_visitante|pro_ganar|pro_empatar|pro_perder|
+----------+--------------+----------+----------+----------------+--------+------------+---------+-----------+----------+
|   Chelsea|   chelsea.png|Inglaterra|         1|28/09/2021 16:45|       1|           7|       33|         34|        33|
|   Chelsea|   chelsea.png|Inglaterra|         1|19/10/2021 19:00|       1|          10|       33|         34|        33|
|   Chelsea|   chelsea.png|Inglaterra|         1|07/12/2021 20:00|       1|          28|       33|         34|        33|
|  Besiktas|  besiktas.png|   Turquía|         2|29/09/2021 16:45|       2|          31|       33|         34|        33|
|  Besiktas|  besiktas.png|   Turquía|         2|02/11/2021 20:00|       2|          19|       33|         34|        33|
|  Besiktas|  besiktas.png|   Turquía|         2|08/12/2021 20:00|       2|          29|       33|         34|        33|
| Wolfsburg| wolfsburg.png|  Alemania|         4|14/09/2021 19:00|       4|           5|       33|         34|        33|
| Wolfsburg| wolfsburg.png|  Alemania|         4|20/10/2021 16:45|       4|          11|       33|         34|        33|
| Wolfsburg| wolfsburg.png|  Alemania|         4|23/11/2021 20:00|       4|           6|       33|         34|        33|
|  Atalanta|  atalanta.png|    Italia|         6|29/09/2021 19:00|       6|           4|       33|         34|        33|
|  Atalanta|  atalanta.png|    Italia|         6|20/10/2021 19:00|       6|           5|       33|         34|        33|
|  Atalanta|  atalanta.png|    Italia|         6|08/12/2021 20:00|       6|          11|       33|         34|        33|
|Young Boys|young_boys.png|     Suiza|         7|15/09/2021 16:45|       7|          10|       33|         34|        33|
|Young Boys|young_boys.png|     Suiza|         7|19/10/2021 16:45|       7|          28|       33|         34|        33|
|Young Boys|young_boys.png|     Suiza|         7|24/11/2021 17:45|       7|           1|       33|         34|        33|
|   Leipzig|   leipzig.png|  Alemania|         8|14/09/2021 19:00|       8|          32|       33|         34|        33|
|   Leipzig|   leipzig.png|  Alemania|         8|20/10/2021 19:00|       8|          17|       33|         34|        33|
|   Leipzig|   leipzig.png|  Alemania|         8|23/11/2021 20:00|       8|          13|       33|         34|        33|
|  Juventus|  juventus.png|    Italia|         9|15/09/2021 19:00|       9|          21|       33|         34|        33|
|  Juventus|  juventus.png|    Italia|         9|19/10/2021 16:45|       9|          18|       33|         34|        33|
+----------+--------------+----------+----------+----------------+--------+------------+---------+-----------+----------+
only showing top 20 rows

In [33]:
df.join(deptdf, df["puntuacion"] == deptdf["id_local"], "left_outer").show()

+--------------+------------------+--------+----------+----------------+--------+------------+---------+-----------+----------+
|        equipo|            escudo|    pais|puntuacion|           fecha|id_local|id_visitante|pro_ganar|pro_empatar|pro_perder|
+--------------+------------------+--------+----------+----------------+--------+------------+---------+-----------+----------+
|   Club Brugge|   club_brugge.png| Bélgica|        26|07/12/2021 20:00|      26|          27|       33|         34|        33|
|   Club Brugge|   club_brugge.png| Bélgica|        26|19/10/2021 19:00|      26|          23|       33|         34|        33|
|   Club Brugge|   club_brugge.png| Bélgica|        26|28/09/2021 16:45|      26|          12|       33|         34|        33|
|Internazionale|internazionale.png|  Italia|        29|23/11/2021 17:45|      29|          19|       33|         34|        33|
|Internazionale|internazionale.png|  Italia|        29|02/11/2021 20:00|      29|          31|       33|         34|        33|
|      Atalanta|      atalanta.png|  Italia|         6|08/12/2021 20:00|       6|          11|       33|         34|        33|
|      Atalanta|      atalanta.png|  Italia|         6|20/10/2021 19:00|       6|           5|       33|         34|        33|
|      Atalanta|      atalanta.png|  Italia|         6|29/09/2021 19:00|       6|           4|       33|         34|        33|
|      Juventus|      juventus.png|  Italia|         9|24/11/2021 20:00|       9|          14|       33|         34|        33|
|      Juventus|      juventus.png|  Italia|         9|19/10/2021 16:45|       9|          18|       33|         34|        33|
|      Juventus|      juventus.png|  Italia|         9|15/09/2021 19:00|       9|          21|       33|         34|        33|
|      Dortmund|      dortmund.png|Alemania|        27|24/11/2021 20:00|      27|          23|       33|         34|        33|
|      Dortmund|      dortmund.png|Alemania|        27|03/11/2021 20:00|      27|          12|       33|         34|        33|
|      Dortmund|      dortmund.png|Alemania|        27|15/09/2021 16:45|      27|          26|       33|         34|        33|
|     Barcelona|     barcelona.png|  España|        17|23/11/2021 20:00|      17|          32|       33|         34|        33|
|     Barcelona|     barcelona.png|  España|        17|02/11/2021 17:45|      17|           8|       33|         34|        33|
|     Barcelona|     barcelona.png|  España|        17|14/09/2021 19:00|      17|          13|       33|         34|        33|
|   Dynamo Kyiv|   dynamo_kyiv.png| Ucrania|        28|24/11/2021 20:00|      28|          10|       33|         34|        33|
|   Dynamo Kyiv|   dynamo_kyiv.png| Ucrania|        28|03/11/2021 20:00|      28|           7|       33|         34|        33|
|   Dynamo Kyiv|   dynamo_kyiv.png| Ucrania|        28|15/09/2021 19:00|      28|           1|       33|         34|        33|
+--------------+------------------+--------+----------+----------------+--------+------------+---------+-----------+----------+
only showing top 20 rows

In [34]:
df.join(deptdf, df["puntuacion"] == deptdf["id_local"], "right_outer").show()

+----------------+--------------------+----------+----------+----------------+--------+------------+---------+-----------+----------+
|          equipo|              escudo|      pais|puntuacion|           fecha|id_local|id_visitante|pro_ganar|pro_empatar|pro_perder|
+----------------+--------------------+----------+----------+----------------+--------+------------+---------+-----------+----------+
|     Club Brugge|     club_brugge.png|   Bélgica|        26|28/09/2021 16:45|      26|          12|       33|         34|        33|
|         Sheriff|         sheriff.png|  Moldavia|        22|28/09/2021 19:00|      22|          15|       33|         34|        33|
|           Malmö|           malmo.png|    Suecia|        22|28/09/2021 19:00|      22|          15|       33|         34|        33|
|      Young Boys|      young_boys.png|     Suiza|         7|15/09/2021 16:45|       7|          10|       33|         34|        33|
|            null|                null|      null|      null|14/09/2021 16:45|      31|          19|       33|         34|        33|
|     Sporting CP|     sporting_cp.png|  Portugal|        25|14/09/2021 16:45|      25|          24|       33|         34|        33|
|        Juventus|        juventus.png|    Italia|         9|15/09/2021 19:00|       9|          21|       33|         34|        33|
|        Dortmund|        dortmund.png|  Alemania|        27|15/09/2021 16:45|      27|          26|       33|         34|        33|
|       Barcelona|       barcelona.png|    España|        17|14/09/2021 19:00|      17|          13|       33|         34|        33|
|     Dynamo Kyiv|     dynamo_kyiv.png|   Ucrania|        28|15/09/2021 19:00|      28|           1|       33|         34|        33|
|         Chelsea|         chelsea.png|Inglaterra|         1|28/09/2021 16:45|       1|           7|       33|         34|        33|
|            null|                null|      null|      null|15/09/2021 19:00|       3|          22|       33|         34|        33|
|     Real Madrid|     real_madrid.png|    España|        12|15/09/2021 19:00|      12|          23|       33|         34|        33|
|         Leipzig|         leipzig.png|  Alemania|         8|14/09/2021 19:00|       8|          32|       33|         34|        33|
|        Salzburg|        salzburg.png|   Austria|        11|14/09/2021 19:00|      11|           6|       33|         34|        33|
|        Atlético|        atletico.png|    España|        11|14/09/2021 19:00|      11|           6|       33|         34|        33|
|       Wolfsburg|       wolfsburg.png|  Alemania|         4|14/09/2021 19:00|       4|           5|       33|         34|        33|
|            null|                null|      null|      null|15/09/2021 19:00|      18|          14|       33|         34|        33|
|Shakhtar Donetsk|shakhtar_donetsk.png|   Ucrania|        14|28/09/2021 19:00|      14|           9|       33|         34|        33|
|           Paris|           paris.png|   Francia|        14|28/09/2021 19:00|      14|           9|       33|         34|        33|
+----------------+--------------------+----------+----------+----------------+--------+------------+---------+-----------+----------+
only showing top 20 rows

In [35]:
df.join(deptdf, df["puntuacion"] == deptdf["id_local"], "outer").show()

+----------+--------------+----------+----------+----------------+--------+------------+---------+-----------+----------+
|    equipo|        escudo|      pais|puntuacion|           fecha|id_local|id_visitante|pro_ganar|pro_empatar|pro_perder|
+----------+--------------+----------+----------+----------------+--------+------------+---------+-----------+----------+
|   Chelsea|   chelsea.png|Inglaterra|         1|28/09/2021 16:45|       1|           7|       33|         34|        33|
|   Chelsea|   chelsea.png|Inglaterra|         1|19/10/2021 19:00|       1|          10|       33|         34|        33|
|   Chelsea|   chelsea.png|Inglaterra|         1|07/12/2021 20:00|       1|          28|       33|         34|        33|
|  Besiktas|  besiktas.png|   Turquía|         2|29/09/2021 16:45|       2|          31|       33|         34|        33|
|  Besiktas|  besiktas.png|   Turquía|         2|02/11/2021 20:00|       2|          19|       33|         34|        33|
|  Besiktas|  besiktas.png|   Turquía|         2|08/12/2021 20:00|       2|          29|       33|         34|        33|
|      null|          null|      null|      null|15/09/2021 19:00|       3|          22|       33|         34|        33|
|      null|          null|      null|      null|19/10/2021 19:00|       3|          15|       33|         34|        33|
|      null|          null|      null|      null|24/11/2021 20:00|       3|          20|       33|         34|        33|
| Wolfsburg| wolfsburg.png|  Alemania|         4|14/09/2021 19:00|       4|           5|       33|         34|        33|
| Wolfsburg| wolfsburg.png|  Alemania|         4|20/10/2021 16:45|       4|          11|       33|         34|        33|
| Wolfsburg| wolfsburg.png|  Alemania|         4|23/11/2021 20:00|       4|           6|       33|         34|        33|
|      null|          null|      null|      null|29/09/2021 19:00|       5|          11|       33|         34|        33|
|      null|          null|      null|      null|02/11/2021 20:00|       5|           6|       33|         34|        33|
|      null|          null|      null|      null|08/12/2021 20:00|       5|           4|       33|         34|        33|
|  Atalanta|  atalanta.png|    Italia|         6|29/09/2021 19:00|       6|           4|       33|         34|        33|
|  Atalanta|  atalanta.png|    Italia|         6|20/10/2021 19:00|       6|           5|       33|         34|        33|
|  Atalanta|  atalanta.png|    Italia|         6|08/12/2021 20:00|       6|          11|       33|         34|        33|
|Young Boys|young_boys.png|     Suiza|         7|15/09/2021 16:45|       7|          10|       33|         34|        33|
|Young Boys|young_boys.png|     Suiza|         7|19/10/2021 16:45|       7|          28|       33|         34|        33|
+----------+--------------+----------+----------+----------------+--------+------------+---------+-----------+----------+
only showing top 20 rows

In [36]:
# Register DataFrame as Temporary Table
df.createOrReplaceTempView("temp_table")

# Execute SQL-Like query.
spark.sql("select * from temp_table where puntuacion = 1").show()

+-------+-----------+----------+----------+
| equipo|     escudo|      pais|puntuacion|
+-------+-----------+----------+----------+
|Chelsea|chelsea.png|Inglaterra|         1|
+-------+-----------+----------+----------+

In [37]:
spark.sql("select distinct puntuacion from temp_table").show(10)

+----------+
|puntuacion|
+----------+
|        26|
|        29|
|         6|
|         9|
|        27|
|        17|
|        28|
|         1|
|         8|
|        11|
+----------+
only showing top 10 rows

In [40]:
# DB_NAME : Name of the the HIVE Database
# TBL_NAME : Name of the HIVE Table


df = spark.table("DB_NAME"."TBL_NAME")

SyntaxError: invalid syntax (3900709972.py, line 5)

No me deja hacer estas cosas por error de sintasys

Vamos con la segunda parte

In [41]:
# Create Temp Tables
df.createOrReplaceTempView("empdf")
deptdf.createOrReplaceTempView("deptdf")

# Save as HIVE tables.
df.write.saveAsTable("hive_empdf", mode = "overwrite")
deptdf.write.saveAsTable("hive_deptdf", mode = "overwrite")

In [43]:
spark.conf.set("spark.sql.autoBroadcastJoinThreshold", 50 * 1024 * 1024)

In [45]:
df.cache()
df.count()
print("Memory Used : {0}".format(df.storageLevel.useMemory))
print("Disk Used : {0}".format(df.storageLevel.useDisk))

Memory Used : True
Disk Used : True

In [46]:
df.unpersist()

DataFrame[equipo: string, escudo: string, pais: string, puntuacion: bigint]

In [47]:
sqlContext.clearCache()

NameError: name 'sqlContext' is not defined

In [49]:
from pyspark.sql.functions import expr



cond = """case when puntuacion> 28 then 'puntuacion_alta'
               else case when puntuacion > 15 then 'puntuacion_media'
                    else case when puntuacion > 0 then 'puntuacion_baja'
                         else 'invalid_puntuacion'
                              end
                         end
                end as puntuacion_level"""

newdf = df.withColumn("puntuacion_level", expr(cond))
newdf.show()

+--------------+------------------+----------+----------+----------------+
|        equipo|            escudo|      pais|puntuacion|puntuacion_level|
+--------------+------------------+----------+----------+----------------+
|      Atalanta|      atalanta.png|    Italia|         6| puntuacion_baja|
|      Atlético|      atletico.png|    España|        11| puntuacion_baja|
|     Barcelona|     barcelona.png|    España|        17|puntuacion_media|
|        Bayern|        bayern.png|  Alemania|        16|puntuacion_media|
|       Benfica|       benfica.png|  Portugal|        15| puntuacion_baja|
|      Besiktas|      besiktas.png|   Turquía|         2| puntuacion_baja|
|       Chelsea|       chelsea.png|Inglaterra|         1| puntuacion_baja|
|   Club Brugge|   club_brugge.png|   Bélgica|        26|puntuacion_media|
|      Dortmund|      dortmund.png|  Alemania|        27|puntuacion_media|
|   Dynamo Kyiv|   dynamo_kyiv.png|   Ucrania|        28|puntuacion_media|
|Internazionale|internazionale.png|    Italia|        29| puntuacion_alta|
|      Juventus|      juventus.png|    Italia|         9| puntuacion_baja|
|       Leipzig|       leipzig.png|  Alemania|         8| puntuacion_baja|
|     Liverpool|     liverpool.png|Inglaterra|        24|puntuacion_media|
|          LOSC|          losc.png|   Francia|        23|puntuacion_media|
|         Malmö|         malmo.png|    Suecia|        22|puntuacion_media|
|     Man. City|      man_city.png|Inglaterra|        21|puntuacion_media|
|   Man. United|    man_united.png|Inglaterra|        20|puntuacion_media|
|         Milan|         milan.png|    Italia|        19|puntuacion_media|
|         Paris|         paris.png|   Francia|        14| puntuacion_baja|
+--------------+------------------+----------+----------+----------------+
only showing top 20 rows

In [50]:
newdf = df.selectExpr("*", cond)
newdf.show()

+--------------+------------------+----------+----------+----------------+
|        equipo|            escudo|      pais|puntuacion|puntuacion_level|
+--------------+------------------+----------+----------+----------------+
|      Atalanta|      atalanta.png|    Italia|         6| puntuacion_baja|
|      Atlético|      atletico.png|    España|        11| puntuacion_baja|
|     Barcelona|     barcelona.png|    España|        17|puntuacion_media|
|        Bayern|        bayern.png|  Alemania|        16|puntuacion_media|
|       Benfica|       benfica.png|  Portugal|        15| puntuacion_baja|
|      Besiktas|      besiktas.png|   Turquía|         2| puntuacion_baja|
|       Chelsea|       chelsea.png|Inglaterra|         1| puntuacion_baja|
|   Club Brugge|   club_brugge.png|   Bélgica|        26|puntuacion_media|
|      Dortmund|      dortmund.png|  Alemania|        27|puntuacion_media|
|   Dynamo Kyiv|   dynamo_kyiv.png|   Ucrania|        28|puntuacion_media|
|Internazionale|internazionale.png|    Italia|        29| puntuacion_alta|
|      Juventus|      juventus.png|    Italia|         9| puntuacion_baja|
|       Leipzig|       leipzig.png|  Alemania|         8| puntuacion_baja|
|     Liverpool|     liverpool.png|Inglaterra|        24|puntuacion_media|
|          LOSC|          losc.png|   Francia|        23|puntuacion_media|
|         Malmö|         malmo.png|    Suecia|        22|puntuacion_media|
|     Man. City|      man_city.png|Inglaterra|        21|puntuacion_media|
|   Man. United|    man_united.png|Inglaterra|        20|puntuacion_media|
|         Milan|         milan.png|    Italia|        19|puntuacion_media|
|         Paris|         paris.png|   Francia|        14| puntuacion_baja|
+--------------+------------------+----------+----------+----------------+
only showing top 20 rows

In [52]:
newdf = df.dropna()
newdf.show()

+--------------+------------------+----------+----------+
|        equipo|            escudo|      pais|puntuacion|
+--------------+------------------+----------+----------+
|      Atalanta|      atalanta.png|    Italia|         6|
|      Atlético|      atletico.png|    España|        11|
|     Barcelona|     barcelona.png|    España|        17|
|        Bayern|        bayern.png|  Alemania|        16|
|       Benfica|       benfica.png|  Portugal|        15|
|      Besiktas|      besiktas.png|   Turquía|         2|
|       Chelsea|       chelsea.png|Inglaterra|         1|
|   Club Brugge|   club_brugge.png|   Bélgica|        26|
|      Dortmund|      dortmund.png|  Alemania|        27|
|   Dynamo Kyiv|   dynamo_kyiv.png|   Ucrania|        28|
|Internazionale|internazionale.png|    Italia|        29|
|      Juventus|      juventus.png|    Italia|         9|
|       Leipzig|       leipzig.png|  Alemania|         8|
|     Liverpool|     liverpool.png|Inglaterra|        24|
|          LOSC|          losc.png|   Francia|        23|
|         Malmö|         malmo.png|    Suecia|        22|
|     Man. City|      man_city.png|Inglaterra|        21|
|   Man. United|    man_united.png|Inglaterra|        20|
|         Milan|         milan.png|    Italia|        19|
|         Paris|         paris.png|   Francia|        14|
+--------------+------------------+----------+----------+
only showing top 20 rows

In [53]:
# Elimina todas las filas que contienen todos los valores nulos.
newdf = df.dropna(how = "all")
newdf.show()

+--------------+------------------+----------+----------+
|        equipo|            escudo|      pais|puntuacion|
+--------------+------------------+----------+----------+
|      Atalanta|      atalanta.png|    Italia|         6|
|      Atlético|      atletico.png|    España|        11|
|     Barcelona|     barcelona.png|    España|        17|
|        Bayern|        bayern.png|  Alemania|        16|
|       Benfica|       benfica.png|  Portugal|        15|
|      Besiktas|      besiktas.png|   Turquía|         2|
|       Chelsea|       chelsea.png|Inglaterra|         1|
|   Club Brugge|   club_brugge.png|   Bélgica|        26|
|      Dortmund|      dortmund.png|  Alemania|        27|
|   Dynamo Kyiv|   dynamo_kyiv.png|   Ucrania|        28|
|Internazionale|internazionale.png|    Italia|        29|
|      Juventus|      juventus.png|    Italia|         9|
|       Leipzig|       leipzig.png|  Alemania|         8|
|     Liverpool|     liverpool.png|Inglaterra|        24|
|          LOSC|          losc.png|   Francia|        23|
|         Malmö|         malmo.png|    Suecia|        22|
|     Man. City|      man_city.png|Inglaterra|        21|
|   Man. United|    man_united.png|Inglaterra|        20|
|         Milan|         milan.png|    Italia|        19|
|         Paris|         paris.png|   Francia|        14|
+--------------+------------------+----------+----------+
only showing top 20 rows

In [55]:
#Numero de participaciones
df.rdd.getNumPartitions()

2

In [56]:
#incremente el numero de particiones
newdf = df.repartition(6)
newdf.rdd.getNumPartitions()

6

In [57]:
#decremente el numero de particiones
newdf = df.coalesce(2)
newdf.rdd.getNumPartitions()

2

In [58]:
# Set number of partitions as Spark Application.
spark.conf.set("spark.sql.shuffle.partitions", "500")

# Check the number of patitions.
num_part = spark.conf.get("spark.sql.shuffle.partitions")
print("No of Partitions : {0}".format(num_part))

No of Partitions : 500

In [59]:
#devolver  las bases de datos
spark.catalog.listDatabases()

[Database(name='default', description='default database', locationUri='file:/workspaces/Apache_Spark/spark-warehouse')]

In [60]:
#devolver las tablas
spark.catalog.listTables("default")

[Table(name='hive_deptdf', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='hive_empdf', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='deptdf', database=None, description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='empdf', database=None, description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='temp_table', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [61]:
#devolvera laa columnas de la tabla
spark.catalog.listColumns("hive_empdf", "default")

[Column(name='equipo', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False),
 Column(name='escudo', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False),
 Column(name='pais', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False),
 Column(name='puntuacion', description=None, dataType='bigint', nullable=True, isPartition=False, isBucket=False)]

In [62]:
#devolvera funciones
spark.catalog.listFunctions()

[Function(name='!', description=None, className='org.apache.spark.sql.catalyst.expressions.Not', isTemporary=True),
 Function(name='%', description=None, className='org.apache.spark.sql.catalyst.expressions.Remainder', isTemporary=True),
 Function(name='&', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseAnd', isTemporary=True),
 Function(name='*', description=None, className='org.apache.spark.sql.catalyst.expressions.Multiply', isTemporary=True),
 Function(name='+', description=None, className='org.apache.spark.sql.catalyst.expressions.Add', isTemporary=True),
 Function(name='-', description=None, className='org.apache.spark.sql.catalyst.expressions.Subtract', isTemporary=True),
 Function(name='/', description=None, className='org.apache.spark.sql.catalyst.expressions.Divide', isTemporary=True),
 Function(name='<', description=None, className='org.apache.spark.sql.catalyst.expressions.LessThan', isTemporary=True),
 Function(name='<=', description=None, className='org.apache.spark.sql.catalyst.expressions.LessThanOrEqual', isTemporary=True),
 Function(name='<=>', description=None, className='org.apache.spark.sql.catalyst.expressions.EqualNullSafe', isTemporary=True),
 Function(name='=', description=None, className='org.apache.spark.sql.catalyst.expressions.EqualTo', isTemporary=True),
 Function(name='==', description=None, className='org.apache.spark.sql.catalyst.expressions.EqualTo', isTemporary=True),
 Function(name='>', description=None, className='org.apache.spark.sql.catalyst.expressions.GreaterThan', isTemporary=True),
 Function(name='>=', description=None, className='org.apache.spark.sql.catalyst.expressions.GreaterThanOrEqual', isTemporary=True),
 Function(name='^', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseXor', isTemporary=True),
 Function(name='abs', description=None, className='org.apache.spark.sql.catalyst.expressions.Abs', isTemporary=True),
 Function(name='acos', description=None, className='org.apache.spark.sql.catalyst.expressions.Acos', isTemporary=True),
 Function(name='acosh', description=None, className='org.apache.spark.sql.catalyst.expressions.Acosh', isTemporary=True),
 Function(name='add_months', description=None, className='org.apache.spark.sql.catalyst.expressions.AddMonths', isTemporary=True),
 Function(name='aes_decrypt', description=None, className='org.apache.spark.sql.catalyst.expressions.AesDecrypt', isTemporary=True),
 Function(name='aes_encrypt', description=None, className='org.apache.spark.sql.catalyst.expressions.AesEncrypt', isTemporary=True),
 Function(name='aggregate', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayAggregate', isTemporary=True),
 Function(name='and', description=None, className='org.apache.spark.sql.catalyst.expressions.And', isTemporary=True),
 Function(name='any', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BoolOr', isTemporary=True),
 Function(name='approx_count_distinct', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.HyperLogLogPlusPlus', isTemporary=True),
 Function(name='approx_percentile', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.ApproximatePercentile', isTemporary=True),
 Function(name='array', description=None, className='org.apache.spark.sql.catalyst.expressions.CreateArray', isTemporary=True),
 Function(name='array_agg', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CollectList', isTemporary=True),
 Function(name='array_contains', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayContains', isTemporary=True),
 Function(name='array_distinct', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayDistinct', isTemporary=True),
 Function(name='array_except', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayExcept', isTemporary=True),
 Function(name='array_intersect', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayIntersect', isTemporary=True),
 Function(name='array_join', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayJoin', isTemporary=True),
 Function(name='array_max', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayMax', isTemporary=True),
 Function(name='array_min', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayMin', isTemporary=True),
 Function(name='array_position', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayPosition', isTemporary=True),
 Function(name='array_remove', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayRemove', isTemporary=True),
 Function(name='array_repeat', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayRepeat', isTemporary=True),
 Function(name='array_size', description=None, className='org.apache.spark.sql.catalyst.expressions.ArraySize', isTemporary=True),
 Function(name='array_sort', description=None, className='org.apache.spark.sql.catalyst.expressions.ArraySort', isTemporary=True),
 Function(name='array_union', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayUnion', isTemporary=True),
 Function(name='arrays_overlap', description=None, className='org.apache.spark.sql.catalyst.expressions.ArraysOverlap', isTemporary=True),
 Function(name='arrays_zip', description=None, className='org.apache.spark.sql.catalyst.expressions.ArraysZip', isTemporary=True),
 Function(name='ascii', description=None, className='org.apache.spark.sql.catalyst.expressions.Ascii', isTemporary=True),
 Function(name='asin', description=None, className='org.apache.spark.sql.catalyst.expressions.Asin', isTemporary=True),
 Function(name='asinh', description=None, className='org.apache.spark.sql.catalyst.expressions.Asinh', isTemporary=True),
 Function(name='assert_true', description=None, className='org.apache.spark.sql.catalyst.expressions.AssertTrue', isTemporary=True),
 Function(name='atan', description=None, className='org.apache.spark.sql.catalyst.expressions.Atan', isTemporary=True),
 Function(name='atan2', description=None, className='org.apache.spark.sql.catalyst.expressions.Atan2', isTemporary=True),
 Function(name='atanh', description=None, className='org.apache.spark.sql.catalyst.expressions.Atanh', isTemporary=True),
 Function(name='avg', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.Average', isTemporary=True),
 Function(name='base64', description=None, className='org.apache.spark.sql.catalyst.expressions.Base64', isTemporary=True),
 Function(name='bigint', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='bin', description=None, className='org.apache.spark.sql.catalyst.expressions.Bin', isTemporary=True),
 Function(name='binary', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='bit_and', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BitAndAgg', isTemporary=True),
 Function(name='bit_count', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseCount', isTemporary=True),
 Function(name='bit_get', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseGet', isTemporary=True),
 Function(name='bit_length', description=None, className='org.apache.spark.sql.catalyst.expressions.BitLength', isTemporary=True),
 Function(name='bit_or', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BitOrAgg', isTemporary=True),
 Function(name='bit_xor', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BitXorAgg', isTemporary=True),
 Function(name='bool_and', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BoolAnd', isTemporary=True),
 Function(name='bool_or', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BoolOr', isTemporary=True),
 Function(name='boolean', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='bround', description=None, className='org.apache.spark.sql.catalyst.expressions.BRound', isTemporary=True),
 Function(name='btrim', description=None, className='org.apache.spark.sql.catalyst.expressions.StringTrimBoth', isTemporary=True),
 Function(name='cardinality', description=None, className='org.apache.spark.sql.catalyst.expressions.Size', isTemporary=True),
 Function(name='cast', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='cbrt', description=None, className='org.apache.spark.sql.catalyst.expressions.Cbrt', isTemporary=True),
 Function(name='ceil', description=None, className='org.apache.spark.sql.catalyst.expressions.CeilExpressionBuilder', isTemporary=True),
 Function(name='ceiling', description=None, className='org.apache.spark.sql.catalyst.expressions.CeilExpressionBuilder', isTemporary=True),
 Function(name='char', description=None, className='org.apache.spark.sql.catalyst.expressions.Chr', isTemporary=True),
 Function(name='char_length', description=None, className='org.apache.spark.sql.catalyst.expressions.Length', isTemporary=True),
 Function(name='character_length', description=None, className='org.apache.spark.sql.catalyst.expressions.Length', isTemporary=True),
 Function(name='chr', description=None, className='org.apache.spark.sql.catalyst.expressions.Chr', isTemporary=True),
 Function(name='coalesce', description=None, className='org.apache.spark.sql.catalyst.expressions.Coalesce', isTemporary=True),
 Function(name='collect_list', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CollectList', isTemporary=True),
 Function(name='collect_set', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CollectSet', isTemporary=True),
 Function(name='concat', description=None, className='org.apache.spark.sql.catalyst.expressions.Concat', isTemporary=True),
 Function(name='concat_ws', description=None, className='org.apache.spark.sql.catalyst.expressions.ConcatWs', isTemporary=True),
 Function(name='contains', description=None, className='org.apache.spark.sql.catalyst.expressions.ContainsExpressionBuilder', isTemporary=True),
 Function(name='conv', description=None, className='org.apache.spark.sql.catalyst.expressions.Conv', isTemporary=True),
 Function(name='corr', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.Corr', isTemporary=True),
 Function(name='cos', description=None, className='org.apache.spark.sql.catalyst.expressions.Cos', isTemporary=True),
 Function(name='cosh', description=None, className='org.apache.spark.sql.catalyst.expressions.Cosh', isTemporary=True),
 Function(name='cot', description=None, className='org.apache.spark.sql.catalyst.expressions.Cot', isTemporary=True),
 Function(name='count', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.Count', isTemporary=True),
 Function(name='count_if', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CountIf', isTemporary=True),
 Function(name='count_min_sketch', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CountMinSketchAgg', isTemporary=True),
 Function(name='covar_pop', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CovPopulation', isTemporary=True),
 Function(name='covar_samp', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CovSample', isTemporary=True),
 Function(name='crc32', description=None, className='org.apache.spark.sql.catalyst.expressions.Crc32', isTemporary=True),
 Function(name='csc', description=None, className='org.apache.spark.sql.catalyst.expressions.Csc', isTemporary=True),
 Function(name='cume_dist', description=None, className='org.apache.spark.sql.catalyst.expressions.CumeDist', isTemporary=True),
 Function(name='current_catalog', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentCatalog', isTemporary=True),
 Function(name='current_database', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentDatabase', isTemporary=True),
 Function(name='current_date', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentDate', isTemporary=True),
 Function(name='current_timestamp', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentTimestamp', isTemporary=True),
 Function(name='current_timezone', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentTimeZone', isTemporary=True),
 Function(name='current_user', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentUser', isTemporary=True),
 Function(name='date', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='date_add', description=None, className='org.apache.spark.sql.catalyst.expressions.DateAdd', isTemporary=True),
 Function(name='date_format', description=None, className='org.apache.spark.sql.catalyst.expressions.DateFormatClass', isTemporary=True),
 Function(name='date_from_unix_date', description=None, className='org.apache.spark.sql.catalyst.expressions.DateFromUnixDate', isTemporary=True),
 Function(name='date_part', description=None, className='org.apache.spark.sql.catalyst.expressions.DatePartExpressionBuilder', isTemporary=True),
 Function(name='date_sub', description=None, className='org.apache.spark.sql.catalyst.expressions.DateSub', isTemporary=True),
 Function(name='date_trunc', description=None, className='org.apache.spark.sql.catalyst.expressions.TruncTimestamp', isTemporary=True),
 Function(name='datediff', description=None, className='org.apache.spark.sql.catalyst.expressions.DateDiff', isTemporary=True),
 Function(name='day', description=None, className='org.apache.spark.sql.catalyst.expressions.DayOfMonth', isTemporary=True),
 Function(name='dayofmonth', description=None, className='org.apache.spark.sql.catalyst.expressions.DayOfMonth', isTemporary=True),
 Function(name='dayofweek', description=None, className='org.apache.spark.sql.catalyst.expressions.DayOfWeek', isTemporary=True),
 Function(name='dayofyear', description=None, className='org.apache.spark.sql.catalyst.expressions.DayOfYear', isTemporary=True),
 Function(name='decimal', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='decode', description=None, className='org.apache.spark.sql.catalyst.expressions.Decode', isTemporary=True),
 Function(name='degrees', description=None, className='org.apache.spark.sql.catalyst.expressions.ToDegrees', isTemporary=True),
 Function(name='dense_rank', description=None, className='org.apache.spark.sql.catalyst.expressions.DenseRank', isTemporary=True),
 Function(name='div', description=None, className='org.apache.spark.sql.catalyst.expressions.IntegralDivide', isTemporary=True),
 Function(name='double', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='e', description=None, className='org.apache.spark.sql.catalyst.expressions.EulerNumber', isTemporary=True),
 Function(name='element_at', description=None, className='org.apache.spark.sql.catalyst.expressions.ElementAt', isTemporary=True),
 Function(name='elt', description=None, className='org.apache.spark.sql.catalyst.expressions.Elt', isTemporary=True),
 Function(name='encode', description=None, className='org.apache.spark.sql.catalyst.expressions.Encode', isTemporary=True),
 Function(name='endswith', description=None, className='org.apache.spark.sql.catalyst.expressions.EndsWithExpressionBuilder', isTemporary=True),
 Function(name='every', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BoolAnd', isTemporary=True),
 Function(name='exists', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayExists', isTemporary=True),
 Function(name='exp', description=None, className='org.apache.spark.sql.catalyst.expressions.Exp', isTemporary=True),
 Function(name='explode', description=None, className='org.apache.spark.sql.catalyst.expressions.Explode', isTemporary=True),
 Function(name='explode_outer', description=None, className='org.apache.spark.sql.catalyst.expressions.Explode', isTemporary=True),
 Function(name='expm1', description=None, className='org.apache.spark.sql.catalyst.expressions.Expm1', isTemporary=True),
 Function(name='extract', description=None, className='org.apache.spark.sql.catalyst.expressions.Extract', isTemporary=True),
 Function(name='factorial', description=None, className='org.apache.spark.sql.catalyst.expressions.Factorial', isTemporary=True),
 Function(name='filter', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayFilter', isTemporary=True),
 Function(name='find_in_set', description=None, className='org.apache.spark.sql.catalyst.expressions.FindInSet', isTemporary=True),
 Function(name='first', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.First', isTemporary=True),
 Function(name='first_value', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.First', isTemporary=True),
 Function(name='flatten', description=None, className='org.apache.spark.sql.catalyst.expressions.Flatten', isTemporary=True),
 Function(name='float', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='floor', description=None, className='org.apache.spark.sql.catalyst.expressions.FloorExpressionBuilder', isTemporary=True),
 Function(name='forall', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayForAll', isTemporary=True),
 Function(name='format_number', description=None, className='org.apache.spark.sql.catalyst.expressions.FormatNumber', isTemporary=True),
 Function(name='format_string', description=None, className='org.apache.spark.sql.catalyst.expressions.FormatString', isTemporary=True),
 Function(name='from_csv', description=None, className='org.apache.spark.sql.catalyst.expressions.CsvToStructs', isTemporary=True),
 Function(name='from_json', description=None, className='org.apache.spark.sql.catalyst.expressions.JsonToStructs', isTemporary=True),
 Function(name='from_unixtime', description=None, className='org.apache.spark.sql.catalyst.expressions.FromUnixTime', isTemporary=True),
 Function(name='from_utc_timestamp', description=None, className='org.apache.spark.sql.catalyst.expressions.FromUTCTimestamp', isTemporary=True),
 Function(name='get_json_object', description=None, className='org.apache.spark.sql.catalyst.expressions.GetJsonObject', isTemporary=True),
 Function(name='getbit', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseGet', isTemporary=True),
 Function(name='greatest', description=None, className='org.apache.spark.sql.catalyst.expressions.Greatest', isTemporary=True),
 Function(name='grouping', description=None, className='org.apache.spark.sql.catalyst.expressions.Grouping', isTemporary=True),
 Function(name='grouping_id', description=None, className='org.apache.spark.sql.catalyst.expressions.GroupingID', isTemporary=True),
 Function(name='hash', description=None, className='org.apache.spark.sql.catalyst.expressions.Murmur3Hash', isTemporary=True),
 Function(name='hex', description=None, className='org.apache.spark.sql.catalyst.expressions.Hex', isTemporary=True),
 Function(name='histogram_numeric', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.HistogramNumeric', isTemporary=True),

In [63]:
#obtenemos base de datos actual
spark.catalog.currentDatabase()

'default'

In [66]:
#almacenamos cache
spark.catalog.cacheTable("default.hive_empdf")

In [67]:
#comprobamos si esta almacenada
spark.catalog.isCached("default.hive_empdf")

True

In [68]:
#descacheamos una tabla
spark.catalog.uncacheTable("default.hive_empdf")

In [69]:
# Verify uncached table. Now you will see that it will return "False" which means table is not cached.
spark.catalog.isCached("default.hive_empdf")

False

In [70]:
#Descachear toda la tabla en la sesion de spark
spark.catalog.clearCache()